*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
/* HEADER */
nav{
    background-color: #4472de;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index:1;
    position: relative;

}
.enlace-inicio{
    position: absolute;
    padding: 15px 50px;
}
.logo{
    height: 50px;
}
ul {
    /* list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: green;
     */
    float: right;
    margin: O 5px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a{   
    padding: 10px;
    background-color: #ABC4FF;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 255, 0.418);
}

body{
    background-color: #E2EAFC;
}
h1{
    color:black;
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;   
    padding-bottom: 5px;
}

h2{
    color:rgb(54, 51, 51);
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}

.parrafo_hero{
    color:white;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

.col{
    margin-top: 25px;
    margin-right: 0,5px;
    padding-top: 15px;
    border:grey solid;
    border-radius: 20px;
}
.div_serv{
    background-color:#B6CCFE;
    border:#ABC4FF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    
}
   
p{
    color: black;
    text-align: center;
}

/* FOOTER */


footer {
    padding: 10px;
    text-align: center;
    background-color: #4472de;
    color: white;
}

body {
    background-color: #EDF2FB;
}